<legend>You Selected @ViewBag.Order.Store <a href="/home" onclick="@ViewBag.Store == null">Change Store</a></legend>
<legend>Choose a Pizza</legend>
<div class="row">
  <div class="col">
    <p>Create your own Pizza</p>
    <button onclick="window.location.href='/order';">Create Pizza</button>
  </div>
</div>