<legend>Welcome To PizzaBox</legend>
<h1>Choose a Pizza</h1>
<div class="row">
  <div class="col">
    <p>Create your own Pizza</p>
    <button onclick="window.location.href='/order';">Create Pizza</button>
  </div>
</div>